.card {
    align-items: center;
    display: grid;
    font-weight: bold;
    grid-template-columns: 20% 20% 18% 18% 18% 18%;
    grid-template-rows: 80px;
    grid-gap: 5px;
    text-align: center;
    vertical-align: middle;
}